{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Blog Post 1
{% endblock title %}

{% block top %}
    <section id="home">
        <div id="main-slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="{{ asset('bundles/app/images/slider/bg4.jpg') }}" alt="slider">
                </div>
            </div>
        </div>
    </section>
{% endblock top %}

{% block content %}
    <section id="concert">
        <div id="twitter-feed" class="carousel slide" data-interval="false">
            <div class="row">
                <div class="post col-md-12">
                    <h1>{{ concert.nom }}</h1>
                    <h3>ce concert est organisé par :</h3>{{ concert.organisateur }}
                    <h3>il reste : </h3>{{ concert.nbrPlace }}
                    <h3> ce serait le </h3> {{ concert.date |date('d/m/Y')  }}
                    <p>{{ concert.description|raw }}</p>
                    <a href="{{ path('achat', { 'id': concert.id }) }}" class="btn btn-info" role="button">Acheter</a>
                </div>

            </div>
        </div>
    </section>
{% endblock content %}